<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">   

<configuration>

<!-- 开启驼峰规则 -->
<settings>
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<typeAliases>
<!-- 扫描pojo包，定义其中的类名为别名 -->
<package name="cn.com.ttxg.pojo"/>
</typeAliases>


<!-- pagehelper插件配置 -->
<plugins>
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
      <!--   使用下面的方式配置参数，后面会有所有的参数介绍 
      		分页合理化
      -->
        <property name="reasonable" value="true"/>
	</plugin>
</plugins>
</configuration>
