<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g12.ttxg.mapper.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.g12.ttxg.pojo.Banner" >
    <id column="bannerid" property="bannerid" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="optionban" property="optionban" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bannerid, image, optionban
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.g12.ttxg.pojo.BannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from banner
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.g12.ttxg.pojo.BannerExample" >
    delete from banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.g12.ttxg.pojo.Banner" >
    insert into banner (bannerid, image, optionban
      )
    values (#{bannerid,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{optionban,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.g12.ttxg.pojo.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerid != null" >
        bannerid,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="optionban != null" >
        optionban,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerid != null" >
        #{bannerid,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="optionban != null" >
        #{optionban,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.g12.ttxg.pojo.BannerExample" resultType="java.lang.Integer" >
    select count(*) from banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update banner
    <set >
      <if test="record.bannerid != null" >
        bannerid = #{record.bannerid,jdbcType=INTEGER},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.optionban != null" >
        optionban = #{record.optionban,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update banner
    set bannerid = #{record.bannerid,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      optionban = #{record.optionban,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.g12.ttxg.pojo.Banner" >
    update banner
    <set >
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="optionban != null" >
        optionban = #{optionban,jdbcType=INTEGER},
      </if>
    </set>
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.g12.ttxg.pojo.Banner" >
    update banner
    set image = #{image,jdbcType=VARCHAR},
      optionban = #{optionban,jdbcType=INTEGER}
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </update>
</mapper>