<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g12.ttxg.mapper.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.g12.ttxg.pojo.Brand" >
    <id column="brandid" property="brandid" jdbcType="INTEGER" />
    <result column="brandname" property="brandname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    brandid, brandname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.g12.ttxg.pojo.BrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from brand
    where brandid = #{brandid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from brand
    where brandid = #{brandid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.g12.ttxg.pojo.BrandExample" >
    delete from brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.g12.ttxg.pojo.Brand" >
    insert into brand (brandid, brandname)
    values (#{brandid,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.g12.ttxg.pojo.Brand" >
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandid != null" >
        brandid,
      </if>
      <if test="brandname != null" >
        brandname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandid != null" >
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.g12.ttxg.pojo.BrandExample" resultType="java.lang.Integer" >
    select count(*) from brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update brand
    <set >
      <if test="record.brandid != null" >
        brandid = #{record.brandid,jdbcType=INTEGER},
      </if>
      <if test="record.brandname != null" >
        brandname = #{record.brandname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update brand
    set brandid = #{record.brandid,jdbcType=INTEGER},
      brandname = #{record.brandname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.g12.ttxg.pojo.Brand" >
    update brand
    <set >
      <if test="brandname != null" >
        brandname = #{brandname,jdbcType=VARCHAR},
      </if>
    </set>
    where brandid = #{brandid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.g12.ttxg.pojo.Brand" >
    update brand
    set brandname = #{brandname,jdbcType=VARCHAR}
    where brandid = #{brandid,jdbcType=INTEGER}
  </update>
</mapper>