<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd  
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd  
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	">

	<!-- 事务管理器 对mybatis操作数据库事务控制 ，spring使用jdbc的事务控制类 -->
	<bean id="TransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 控制数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	
	<!--谁调 用通知？ aop -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* cn.com.ttxg.service.*.*(..))" />
	</aop:config>
	
	
	<!-- 事物增强 配置事物如何去切入 -->
	<tx:advice id="txAdvice" transaction-manager="TransactionManager">
		<tx:attributes>
			<!-- 所有方法都是事物方法 -->
			<tx:method name="*"/>
			<!-- 以get开始的所有方法 比如查询，优化为只读 -->
			<tx:method name="get*" read-only="true"/>

		</tx:attributes>

	</tx:advice>
</beans>
